* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;

}

body {
  background-color: #778beb;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.box {
  background-color: #546de5;
  padding-top: 30px;
  padding: 30px;
  border-radius: 10px;
}

@media(max-width: 470px){
  .box {
    width: 285px;
  }
}

.box h2 {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 26px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

input {
  padding: 1rem;
  user-select: none;
  height: 2.5rem;
  width: 25rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  outline: none;
  font-size: 22px;
  position: relative;
}

input::placeholder {
  font-size: 23px;
}

@media(max-width: 470px){
  input {
    width: 230px;
  }
}


#button {
  align-items: center;
  background: #239eae;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 15px;
  height: 3rem;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-top: 2rem;
  width: 10rem;
  
}

.box_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

}

#button:hover{
  color: aliceblue;
  background: #3dc1d3 ;
  transition: 1s;
}

@media(max-width: 470px){
  #button {
    margin-left: 2rem;
    margin: 1rem; 
    
  }
}